@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="col-12 row background-size background-color-login">
    <div class="col-1"></div>
    <div class="col-10">
        <div style="height:10%">
        </div>
        <div style="height:90%">
            <div class="text-center height-100-por">
                @Body
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
